<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pizza Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    {{.Title}}

    <br><br><br>
    <button onclick="location.href='http://localhost:3000/logout';"> Logout</button>
	<br><br><br>
    <ul>
        {{range .MenuItems}}
        
        <li>
            <br>
            Name : {{.Name}}
            <br><br>
            Description : {{.Description}}
            <br><br>
            Price : {{.Price}}
            <br><br>
            Icon : {{.Icon}}
            <br><br>
        </li>
        {{end}}
    </ul>
</body>

</html>