<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hello</title>
</head>

<body>

	{{if .LoginStatus }}
	Welcome  {{.CID}}
	{{else}}
	<button onclick="location.href='http://localhost:3000/login';">Login</button>
	
	{{end}}
	<br>
	<br><br>
	<button onclick="location.href='http://localhost:3000/menu';"> Get Pizza Menu</button>
	<button> Post Order</button>
	<button> View Order</button>
	

</body>

</html>